.order-wrapper {
    height: auto;
    display: flex;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    float: left;
    width: 30%;
}

.map-wrapper {
    width: 70%;
    height: auto;

}


.map-holder {
    background-color: aqua;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}