.header-wrapper {
    height: auto;
    width: 100vw;
    height: 10vh;
    /* background-color: #f1f1f1; */
    overflow: hidden;
    border-bottom: 1px solid rgb(192, 193, 195);
}

.header-content {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    color: #188D95
}

.logo {
    background-image: url("https://engineering.lehigh.edu/sites/engineering.lehigh.edu/themes/eng2017/images/lehigh-brown-logo.svg");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 120px;
    height: 70px;
}

.signs {
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    z-index:-1;
    height: 0;
  }

.header-link {
    color: #188D95;
    font-size: 24px;
}