

.parameters-wrapper {
    background-color: white;
    height: 150px;
    width: 100%;
}

.parameters-handler {
    padding: 50px;
    height:30px;
    display: flex;
    justify-content: space-around;
}