

.parameters-wrapper {
    background-color: white;
    height: 150px;
    width: 100%;
    padding-top: 0px;
}



.parameters-handler {
    padding: 50px;
    height:30px;
    display: flex;
    justify-content: space-around;

}

.search {
    font-size: 20px;
    position: relative;
    font-weight: 600;
    line-height: 40px;
    width: 120px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;

    border-radius: 10px;
    appearance: none;

    background-color: #FFA5D3;
    color: black !important;
}



.form__group {
  position: relative; 

  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 180px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;

  background: transparent;
  transition: border-color 0.2s;

  
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}


