.browser-wrapper {
    padding-left: 60px;
}

.filter-side {
    float: left;
    height: 100vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-side {
    float: right;
    height: 100vh;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-wrapper {
    /* background-color: aqua; */
    height: 90%;
    width: 90%;
    /* pad */
}

.result-wrapper {
    background-color: red;
    height: 90%;
    width: 90%;
}

.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;

    /* padding: 1.5rem 2rem; */
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    width: 90%;
    display: block;
    height: 40px;
    transition: all 0.3s;
    color: #4F4F4F;
    font-style: italic;
  }
  
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }

  .filters-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .search-filter {
    font-size: 20px;
    position: relative;
    font-weight: 600;
    line-height: 40px;
    width: 91%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;

    border-radius: 10px;
    appearance: none;

    background-color: #FFA5D3;
    color: black !important;
}

h1 {
    font-size: 40px;
}